* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  font: 13px Helvetica, Arial;
}
h1 {
  position: fixed;
  left: 44%;
}
form {
  background: none;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  padding: 10px;
  width: 25%;
  margin-right: 0.5%;
  margin-left: 35%;
  border-radius: 25px;
  border-color: #aaa;
  border-width: 1px;
  border-style: solid;
}

form button {
  width: 5%;
  background: rgb(130, 224, 255);
  border-radius: 25px;
  border: none;
  padding: 10px;
  font-weight: bold;
}

#messages {
  list-style-type: none;
}

#messages li {
  padding: 5px 10px;
  width: 30%;
  margin-top: 10px;
  border-radius: 20px;
  border-width: 1px;
  border-color: #aaa;
  border-style: solid;
  margin-left: 35%;
  word-wrap: break-word;
}

#messages li:nth-child(odd) {
  background: #eee;
}


#feedback p{
color: #aaa;
padding: 14px 0px;
margin: 0 20px;
}

#username{
  padding-top: 10px;
  margin-left: 35%;
}